.notification.pocket_button_good,
.notification.pocket_button_bad {
    position: fixed;
    color: #fff;
    left: 20%;
    right: 20%;
}

.notification.pocket_button_bad {
    background: #e74c3c;
}

.notification.pocket_button_good {
    background: #1abc9c;
}

input#consumer_key {
    width: 300px;
}

input#keyboard_shortcut {
    width: 30px;
}

.listedNumbers {
    list-style-type: decimal;
}