.notification.pb_good,
.notification.pb_bad {
    position: fixed;
    color: #fff;
    left: 20%;
    right: 20%;
}

.notification.pb_bad {
    background: #e74c3c;
}

.notification.pb_good {
    background: #1abc9c;
}

input.pb_consumer_key {
    width: 300px;
}

input.pb_keyboard_shortcut {
    width: 30px;
}

.pb_listedNumbers {
    list-style-type: decimal;
}

.pb_disabled {
    display: none !important;
}

.pb_lds-dual-ring {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    line-height: 12px;
    margin: -4px 0 0 -2px;
}

.pb_lds-dual-ring:after {
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #e74c3c;
    border-color: #e74c3c transparent #e74c3c transparent;
    animation: pb_lds-dual-ring 1.2s linear infinite;
}

@keyframes pb_lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}